# تجاهل البيئة الافتراضية
venv/
env/
.env

# تجاهل ملفات بايثون المؤقتة
__pycache__/
*.pyc

# تجاهل مجلدات البيانات الكبيرة
dataset/
datasets/
images/
data/
colored face images/

# تجاهل ملفات النظام
.DS_Store

# (اختياري) تجاهل ملف الموديل إذا كان ضخماً جداً، لكن لمشروعك يفضل رفعه
# *.keras
# *.h5